@tailwind base;
@tailwind components;
@tailwind utilities;


.tour-item {
  width: 329px;
}

.background-gradient {
  background-image: linear-gradient(
    to bottom right,
    rgba(77, 209, 57, 0.85),
    rgba(67, 166, 135, 0.85)
  );
}

.clip-path-polygon {
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 83%, 0% 98%);
  clip-path: polygon(0 0, 100% 0%, 100% 83%, 0% 98%);
}
